<div class="row">
    <div class="col-md-12 center">
        <h2 class="view-header">
            <span class="text-muted">Editing: </span>
            <span ng-bind-html="pageHeader"></span>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="well">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-toggle="collapse" id="pageHeader" onclick="return false;"
                     aria-expanded="true" aria-controls="collapsePageHeader" ng-href="#collapsePageHeader"
                     data-parent="#accordion">
                    <h4 class="panel-title">
                        <a>
                            Page Header: {{pageHeader}}
                        </a>
                    </h4>
                </div>
                <div id="collapsePageHeader" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPageTitle">
                    <div class="panel-body">
                        <label for="PageHeaderInput">Page Header: </label>
                        <input id="PageHeaderInput" class="form-control" type="text" ng-model="pageHeader" />
                        <hr />
                        <label for="PageSubHeaderInput">Page Sub-header (leave blank to omit): </label>
                        <input id="PageSubHeaderInput" class="form-control" type="text" ng-model="pageSubHeader"
                               placeholder="None" style="margin-bottom: 12px" />
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-repeat="s in sections track by $index">
                <div class="panel-heading" role="tab" id="heading{{$index}}" data-toggle="collapse" aria-expanded="false"
                     ng-href="#collapse{{$index}}" onclick="return false;" aria-controls="collapse{{$index}}"
                     data-parent="#accordion">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button">
                            <span ng-if="s.internal_title.length > 0" ng-bind="s.internal_title"></span>
                            <span ng-if="s.internal_title.length == 0 || s.internal_title === undefined" ng-bind="s.header"></span>
                            <span ng-if="(s.internal_title.length == 0 || s.internal_title === undefined) &&
                                (s.header.length == 0 || s.header === undefined)">Untitled Section</span>
                        </a>
                    </h4>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading{{$index}}">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="section{{$index}}Header">Header (leave blank to omit): </label>
                            <input type="text" id="section{{$index}}Header" class="form-control" ng-model="s.header" placeholder="None"/>
                        </div>
                        <div class="form-group">
                            <label for="section{{$index}}Internal">Section Title: </label>
                            <input type="text" id="section{{$index}}Internal" class="form-control" ng-model="s.internal_title" />
                            <label for="section{{$index}}Internal" class="text-muted small">Note: this is only for editing purposes and does not show up on the page.</label>
                        </div>
                        <div class="form-group" ng-show="s.type == 'text' || s.type === undefined"">
                            <label for="section{{$index}}Body">Body: </label>
                            <textarea id="section{{$index}}Body" class="form-control vertical-resize" ng-model="s.body"></textarea>
                        </div>
                        <div class="form-group" ng-show="s.type == 'img'">
                            <label for="section{{$index}}Img">Link to Image: </label>
                            <input type="text" id="section{{$index}}Img" class="form-control" ng-model="s.img" />
                        </div>
                        <div class="form-group" ng-show="s.type == 'img'">
                            <label for="section{{$index}}Width">Width: </label>
                            <input type="text" id="section{{$index}}Width" class="form-control" ng-model="s.width" />
                        </div>
                        <div class="form-group" ng-show="s.type == 'img'">
                            <label for="section{{$index}}Alt">Descriptive Text (not visible): </label>
                            <input type="text" id="section{{$index}}Alt" class="form-control" ng-model="s.alt" />
                        </div>
                        <div class="form-group">
                            <label for="section{{$index}}Type">Section Type: </label>
                            <select type="text" id="section{{$index}}Type" class="form-control" ng-model="s.type"
                                    ng-init="s.type = (s.type === undefined ? 'text' : s.type)">
                                <option ng-repeat="t in sectionTypes" value="{{t.type}}" ng-selected="s.type === t.type">
                                    {{t.title}}
                                </option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="s.centered"> Center Section
                            </label>
                        </div>
                        <div class="form-group">
                            <a class="danger" ng-click="removeSection($index)">Delete Section</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-toggle="collapse" id="pageSettings" onclick="return false;"
                     aria-expanded="true" aria-controls="collapsePageSettings" ng-href="#collapsePageSettings"
                     data-parent="#accordion">
                    <h4 class="panel-title">
                        <a>
                            Page Settings
                        </a>
                    </h4>
                </div>
                <div id="collapsePageSettings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pageSettings">
                    <div class="panel-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="columns"> Enable 2 Column Layout
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <a class="btn btn-default pull-left" ng-click="addSection()">
                <span class="glyphicon glyphicon-plus"></span> Add Section
            </a>
            <div class="btn-toolbar pull-right">
                <a class="btn btn-default"><!-- TODO: implement cancelEdits() (requires working server) -->
                    <span class="glyphicon-remove"></span> Cancel
                </a>
                <a class="btn btn-success" ng-click="saveEdits()">
                    <span class="glyphicon glyphicon-save"></span> Save
                </a>
            </div>

        </div>
    </div>
</div>
</div>