<div class="row">
    <div class="col-md-12 center">
        <h2>
            <span ng-bind-html="pageHeader"></span>
            <button class="btn btn-info" ng-click="toggleEdit()" ng-if="loggedIn">
                <span class="glyphicon glyphicon-edit"></span> Edit Page
            </button>
        </h2>
    </div>
</div>
<div class="row" ng-repeat="s in sections">
    <div class="col-md-12" ng-hide="s.header === undefined || s.header === null || s.header.length == 0">
        <h2 ng-bind-html="s.header"></h2>
    </div>
    <div class="col-md-12">
        <p class="lead" ng-bind-html="convertMarkdown(s.body)"></p>
    </div>
</div>