<section id="content">
    <div class="container">
        <div class="center">
            <h2>Attendant Training</h2>

            <div class="lead text-justify">
                The position of “Attendant” is the first goal of all new RPIA members. As an Attendant, members may
                assist with patient care on calls. A short class is part of the requirement of Attendant training. The
                goal of attendant training is to enable new members to assist the crew chief during calls. As such, you
                will learn how to take vitals, use treatment equipment, and how to safely move a patient.
            </div>

            <!--Files Below Using Drive-->
        </div>
    </div>
</section>