<section id="content">
    <div class="container">
        <div class="row center">
            <div class="col-xs-12">
                <h2>Communications</h2>

                <h3>Inter&dash; and Intra&dash;agency communications resources</h3>

                <br/>
            </div>
        </div>
        <!--
            >
        <td ng-switch-when="0">
            {{items[$index].id}} {{items[$index].name}}
        </td>
        <span ng-show="items[$index+1]">
            <td ng-switch-when="0">
                {{items[$index+1].id}} {{items[$index+1].name}}
            </td>
        </span>
        <span ng-show="items[$index+2]">
            <td ng-switch-when="0">
                {{items[$index+2].id}} {{items[$index+2].name}}
            </td>
        </span>
        -->
        <div class="row">
            <div class="col-md-6">
                <info-chunk data="s" ng-repeat="s in sections track by $index" ng-show="$index % 2 == 0"></info-chunk>
            </div>
            <div class="col-md-6">
                <info-chunk data="s" ng-repeat="s in sections track by $index" ng-show="$index % 2 != 0"></info-chunk>
            </div>
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->