<section id="content">
    <div class="container">
        <div class="center">
            <h2>RPI Ambulance Constitution</h2>

            <div class="lead text-justify">
                The Constitution of RPI Ambulance is our governing document. It covers the duties and responsibilities
                of officers, procedures for meetings and elections, and conduct guidelines for RPI Ambulance Members.
                The current Constitution was ratified by the general membership on September 23, 2010, and passed
                by the E-Board on October 23, 2014.
            </div>
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->