<section class="pricing-page">
    <div class="container">
        <div class="center">
            <h2>Request Coverage</h2> <!-- add links to FR-59, 5939, etc. -->

            <p class="lead">Planning an event at or around RPI?<br>Here are a few options of how RPI Ambulance can
                provide EMS coverage for your event.<br>If you have further questions, please feel free to <a href="#/contact">contact us</a>.
            </p> <!-- link -->
        </div>
        <div class="pricing-area text-center">
            <div class="row">
                <div class="col-md-4 plan price-one">
                    <ul>
                        <li class="heading-one">
                            <h1>Tier I</h1>
                            <span>$10/hour<sup>*</sup></span>
                        </li>
                        <li>Long duration; low capacity</li>
                        <li>No dedicated patient care facility</li>
                        <li>At least 1 EMT</li>
                        <li>First Response 59</li>
                        <li>Oxygen and medical supplies</li>
                        <li class="plan-action">
                            <a href="" ng-click="toggleModal('1')" class="btn btn-primary">Select</a>
                        </li>
                    </ul>

                    <!-- Modal for Tier I -->
                    <modal title="Tier I" visible="showModal.tier1">
                        <form role="form">
                            <div class="form-group">
                                <label for="tier1input1">Input 1</label>
                                <input type="text" class="form-control" id="tier1input1" placeholder="Text" />
                            </div>
                            <div class="form-group">
                                <label for="tier1input2">Input 2</label>
                                <input type="text" class="form-control" id="tier1input2" placeholder="Text" />
                            </div>
                            <button type="submit" ng-click="toggleModal('1')" class="btn btn-default">Submit</button>
                        </form>
                    </modal>
                </div>

                <div class="col-md-4 plan price-two">
                    <ul>
                        <li class="heading-two">
                            <h1>Tier II</h1>
                            <span>$50/hour<sup>*</sup></span>
                        </li>
                        <li>Larger spectator event</li>
                        <li>No dedicated patient care facility</li>
                        <li>1&ndash;3 EMTs on field crews</li>
                        <li>5939 (remains available for 911 calls)</li>
                        <li>Oxygen and medical supplies</li>
                        <li class="plan-action">
                            <a href="" ng-click="toggleModal('2')" class="btn btn-primary">Select</a>
                        </li>
                    </ul>

                    <!-- Modal for Tier II -->
                    <modal title="Tier II" visible="showModal.tier2">
                        <form role="form">
                            <div class="form-group">
                                <label for="tier2input1">Input 1</label>
                                <input type="text" class="form-control" id="tier2input1" placeholder="Text" />
                            </div>
                            <div class="form-group">
                                <label for="tier2input2">Input 2</label>
                                <input type="text" class="form-control" id="tier2input2" placeholder="Text" />
                            </div>
                            <button type="submit" ng-click="toggleModal('2')" class="btn btn-default">Submit</button>
                        </form>
                    </modal>
                </div>

                <div class="col-md-4 plan price-three">
                    <ul>
                        <li class="heading-three">
                            <h1>Tier III</h1>
                            <span>$150/hour<sup>*</sup></span>
                        </li>
                        <li>Large spectator events (5,000+)</li>
                        <li>Dedicated patient care facility</li>
                        <li>3&ndash;5 EMTs on field crews</li>
                        <li>5939 (dedicated standby)</li>
                        <li>2+ emergency event supervisors</li>
                        <li class="plan-action">
                            <a href="" ng-click="toggleModal('3')" class="btn btn-primary">Select</a>
                        </li>
                    </ul>

                    <!-- Modal for Tier III -->
                    <modal title="Tier III" visible="showModal.tier3">
                        <form role="form">
                            <p>Tell us about yourself...</p>
                            <div class="form-group">
                                <label for="tier3event">Organization Name</label>
                                <input type="text" class="form-control" id="tier3event" placeholder="Event Name" />
                            </div>
                            <div class="form-group">
                                <label for="tier3name">Contact Name</label>
                                <input type="text" class="form-control" id="tier3name" placeholder="Who do we get in touch with?" />
                            </div>
                            <div class="form-group">
                                <label for="tier3email">Contact Email</label>
                                <input type="email" class="form-control" id="tier3email" placeholder="How do we reach you?" />
                            </div>
                            <p>Tell us about the event...</p>
                            <div class="form-group">
                                <label for="tier3eventName">Event Name</label>
                                <input type="number" class="form-control" id="tier3eventName" placeholder="What are we covering" />
                            </div>
                            <div class="form-group">
                                <label for="tier3loc">Event Location</label>
                                <input type="number" class="form-control" id="tier3loc" placeholder="What are we covering" />
                            </div>
                            <div class="form-group">
                                <label for="tier3type">Event Type</label>
                                <select>
                                    <option value="Sporting Event">Sporting Event</option>
                                    <option value="Outdoor Festival">Outdoor Festival</option>
                                    <option value="Indoor Festival">Indoor Festival</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tier3attendance">Expected Attendance</label>
                                <input type="number" class="form-control" id="tier3attendance" placeholder="5000+" />
                            </div>
                            <button type="submit" ng-click="toggleModal('3')" class="btn btn-default">Submit</button>
                        </form>
                    </modal>
                </div>
            </div>
        </div>
        <p>* Events within the RPI Community will be staffed free of charge.</p>
    </div>
</section>