<section id="content">
    <div class="container">
        <div class="center">
            <h2>CPR Certification</h2>

            <div class="lead text-justify">
                RPI Ambulance typically holds CPR and First Aid classes several times a semester. Certification is
                provided by the American Heart Association and is applicable for community members, Lifeguards, EMS
                personnel, etc. Anyone part of the RPI Community can take part of one of our CPR or First Aid classes.
                CPR classes can also be arranged for those outside of the RPI community. Anyone
                interested in attending, or receiving more information about CPR training should contact <a
                    href="mailto:cpr@rpiambulance.com?subject=RPI%20Ambulance%20CPR%20-%20Web%20Contact">Jordan
                Williams</a>. Dates can be arranged to provide a mutually agreeable time for clubs or community groups.
                Contact <a href="mailto:cpr@rpiambulance.com">Jordan Williams</a>&nbsp;for more information.<br/>
            </div>
            <form action="http://jcsteven.com/mail.pl" method="post">
                <input name="recipient" type="hidden" value="form@jcsteven.com"/> <font face="arial" size="3"> Your Name<br/>
                <input name="name" size="30" type="text"/><br/>
                <br/>
                Your Email<br/>
                <input name="email" size="30" type="email"/><br/>
                <br/>
                I am available on...<br/>
                <input name="date" type="checkbox" value="Monday nights"/>Monday nights<br/>
                <input name="date" type="checkbox" value="Tuesday nights"/>Tuesday nights<br/>
                <input name="date" type="checkbox" value="Wednesday nights"/>Wednesday nights<br/>
                <input name="date" type="checkbox" value="Thursday nights"/>Thursday nights<br/>
                <input name="date" type="checkbox" value="Friday nights"/>Friday nights<br/>
                <input name="date" type="checkbox" value="Saturday days"/>Saturday days<br/>
                <input name="date" type="checkbox" value="Sunday days"/>Sunday days<br/>
                <br/>
                I am interested in...<br/>
                <input name="course" type="checkbox" value="BLS for Healthcare Providers"/>BLS for Healthcare
                Providers<br/>
                <input name="course" type="checkbox" value="Heartsaver CPR / AED"/>Heartsaver CPR / AED<br/>
                <input name="course" type="checkbox" value="Heartsaver First Aid"/>Heartsaver First Aid</font><br/>
                <br/>
                <input name="redirect" type="hidden" value="http://ambulance.union.rpi.edu"/> <input name="subject"
                                                                                                     type="hidden"
                                                                                                     value="CPR Request"/>
                <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>&nbsp;</form>

        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->