<section id="content">
    <div class="container">
        <div class="center">
            <h2>Crew Chief Training</h2>

            <div class="lead text-justify">
                The Crew Chief (&ldquo;CC&rdquo;) is operationally in charge of the duty crew. They are responsible for
                supervising the crew and providing proper patient care. A Probationary Crew Chief is one who may act as
                the Crew Chief if a Crew Chief Trainer is on the crew. A &ldquo;full&rdquo; Crew Chief can complete a
                crew and manages patient care during a call. A Crew Chief Trainer may supervise Probationary Crew Chiefs
                during calls, and provide training and classes, as directed by the Crew Chief Training Coordinator. The
                following training requirements must be completed:<br/>
                <br/>
                <strong>Probationary Crew Chief</strong>
                <ul>
                    <li>
                        Be an attendant
                    </li>
                    <li>
                        Hold valid certification as Emergency Medical Technician &ndash; Basic or above in New York
                    </li>
                    <li>
                        Complete the online NIMS IS-100, IS-200, IS-700 and IS-800 courses
                    </li>
                    <li>
                        Take and pass the Crew Chief class and written exam
                    </li>
                    <li>
                        Complete PCR writing class
                    </li>
                    <li>
                        Complete the Crew Chief checklist
                    </li>
                    <li>
                        Pass a Crew Chief practical, and submit an evaluation
                    </li>
                    <li>
                        <div>
                            Complete a minimum of two (2) real calls with a Crew Chief Trainer in the patient
                            compartment and&nbsp;</div>
                        <div>
                            receive a passing evaluation for both
                        </div>
                    </li>
                    <li>
                        Request and receive approval by the promotional board for promotion
                    </li>
                </ul>
                <strong>Crew Chief</strong>
                <ul>
                    <li>
                        <div>
                            Must be a Probationary Crew Chief.
                        </div>
                    </li>
                    <li>
                        <div>
                            Must Crew Chief at least two (2) calls, one of which must be a transport, and receive a
                            passing&nbsp;</div>
                        <div>
                            evaluation
                        </div>
                    </li>
                    <li>
                        <div>
                            Must teach at least three (3) Attendant Checklist items to a trainee under the supervision
                            of a Crew&nbsp;</div>
                        <div>
                            Chief.
                        </div>
                    </li>
                    <li>
                        Student teach 1 training drill, and submit an evaluation
                    </li>
                    <li>
                        Request and receive approval by the promotional board for promotion
                    </li>
                </ul>
                <strong>Crew Chief Trainer</strong>
                <ul>
                    <li>
                        <div>
                            Complete at least ten (10) shifts as a Crew Chief or have been a CC for at least three (3)
                            months
                        </div>
                        <div>
                            while in service.&nbsp;</div>
                    </li>
                    <li>
                        Crew Chief three (3) emergency or non- emergency calls
                    </li>
                    <li>
                        <div>
                            Teach at least three (3) Crew Chief Checklist items to a trainee under the supervision of a
                            Crew Chief&nbsp;</div>
                        <div>
                            Trainer.&nbsp;</div>
                    </li>
                    <li>
                        <div>
                            Teach a training scenario or Crew Chief class to the membership under the supervision of a
                            Crew&nbsp;</div>
                        <div>
                            Chief trainer.&nbsp;</div>
                    </li>
                    <li>
                        Request and receive approval by the promotional board for promotion
                    </li>
                </ul>
                <br/>
                *Please refer to the SOPs for up-to date requirements.<br/>
                <br/>
                <strong>Crew Chief Class Presentation:</strong>
                <ul>
                    <li>
                        <a href="/uploads/Crew%20Chief%20Class%2013Feb2012.pptx"><strong>Crew Chief Presentation
                            13Feb2012</strong></a></li>
                </ul>
                <strong>Crew Chief Training Documents:</strong>
                <ul>
                    <li>
                        <a href="/uploads/Crew%20Chief%20Checklist%2013Feb2012%20v2.docx"><strong>Crew Chief Checklist
                            13Feb2012</strong></a></li>
                    <li>
                        <strong><a href="/uploads/CC%20call%20evaluation_Updated.pdf">Crew Chief Call Evaluation 5 SEP
                            201</a>3</strong></li>
                    <li>
                        <a href="/uploads/Mock%20Call_Practical%20Report%2013Feb2012.docx"><strong>Mock Call Practical
                            Report 13Feb2012</strong></a></li>
                    <li>
                        <a href="/uploads/Crew_Chief_Practical_Evaluation_5_SEP_2012.pdf"><strong>Crew Chief Practical
                            Exam Evaluation 5SEP2012</strong></a></li>
                </ul>
                <br/>
                <strong>National Incident Management System Courses:</strong>
                <ul>
                    <li>
                        <a href="http://training.fema.gov/EMIWeb/IS/IS100b.asp">NIMS IS-100.b</a></li>
                    <li>
                        <a href="http://training.fema.gov/EMIWeb/IS/IS200b.asp">NIMS IS-200.b</a></li>
                    <li>
                        <a href="http://training.fema.gov/EMIWeb/IS/IS700b.asp">NIMS IS-700.b</a></li>
                    <li>
                        <a href="http://training.fema.gov/EMIWeb/Is/is800b.asp">NIMS IS-800.b</a></li>
                </ul>

            </div>

            <!--Files Below Using Drive-->
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->