<section id="content">
    <div class="container">
        <div class="center">
            <h2>New York State Department of Health Resources</h2>

            <div class="lead text-justify">
                <div class="entry">
                    <a href="http://www.saratogaems.org/NYS_EMS_Council.htm">Meeting Minutes of the State EMS Council (SEMSCO)</a>
                    <ul>
                        <li>
                            Meeting minutes of the State EMS Council as prepared (humorously) by Mike McEvoy (EMS Coordinator for Saratoga County) Good to read these to know what is going on with EMS in the state. Our protocols and policies originate from the council.</li>
                    </ul>
                    <p>
                        <a href="http://www.health.ny.gov/nysdoh/ems/main.htm">Bureau of EMS Homepage</a></p>
                    <ul>
                        <li>
                            Homepage of the&nbsp; New York State Department of Health Bureau of EMS. There is a lot of good information and documentation on the EMS system as whole in New York State.</li>
                    </ul>
                    <p>
                        <a href="http://www.health.ny.gov/nysdoh/ems/protocolsnew.htm">New York State BLS Protocols</a></p>
                    <ul>
                        <li>
                            Statewide Basic Life Support Protocols for all BLS and ALS providers.</li>
                    </ul>
                    <p>
                        <a href="http://www.health.ny.gov/nysdoh/ems/policy/policy.htm">Bureau of EMS Policy Statements and SEMAC Advisories</a></p>
                    <ul>
                        <li>
                            The Bureau of EMS issues policy statements and advisories to address issues that arise within the EMS system and to clarify policies and assist EMS agencies with their smooth operation.</li>
                    </ul>
                    <p>
                        <a href="http://www.health.ny.gov/nysdoh/ems/art30.htm">Public Health Law Article 30</a><br />
                        <br />
                        <a href="http://www.health.ny.gov/nysdoh/ems/part18.htm">New York State Sanitary Code PART - 18</a></p>
                    <ul>
                        <li>
                            New York State laws regarding medical coverage for public events and large gatherings.</li>
                    </ul>
                    <p>
                        <a href="http://www.health.ny.gov/nysdoh/ems/part800.htm">State Emergency Medical Services Code- Part 800</a></p>
                    <ul>
                        <li>
                            New York State laws regarding the qualifications of EMS providers and instructors as well as the requirements for ambulances and other support vehicles.</li>
                    </ul>
                    <a href="http://www.remo-ems.com/">Regional Emergency Medical Organization (REMO)</a>
                    <ul>
                        <li>
                            REMO consists of the Regional Emergency Medical Services Council of the Hudson Mohawk Valleys (REMSCO), the Regional Medical Advisory Committee (REMAC) and the Regional EMS Program Agency, operating in a six county region in the State of New York.</li>
                    </ul>
                    <a href="http://www.remo-ems.com/remo/protocols.php">REMO EMS Protocols</a>
                    <ul>
                        <li>
                            Regional EMS protocols. (ALS and BLS)</li>
                    </ul>

                </div>
            </div>

            <!--/.our-skill-->


            <!-- our-team -->
        </div>
        <!--/.container-->
</section>
<!--/about-us-->
