<section id="content">
    <div class="container">
        <div class="center">
            <h2>Driver Training</h2>

            <div class="lead text-justify">
                The Driver is in charge of the safe operation of the Ambulance and the safe transportation of the crew
                and patient on calls. Attendants may train to become a Driver under the supervision of a qualified
                Driver Trainer. The following are the minimum promotional requirements for the Driver course:*<br/>
                <br/>
                <strong>Probationary Driver</strong>
                <ul>
                    <li>
                        Hold a Valid NYS Class D Drivers License or equivalent for a minimum of six (6) months
                    </li>
                    <li>
                        Be an RPI Ambulance Attendant
                    </li>
                    <li>
                        Attend and pass the written exam for the RPI Ambulance Driver Training Class
                    </li>
                    <li>
                        Hold a CEVO or RPI Ambulance EVDD Certification
                    </li>
                    <li>
                        Complete the Driver Checklist
                    </li>
                    <li>
                        Complete and submit copy of an Ambulance Vehicle Checklist
                    </li>
                    <li>
                        Complete at least five (5) hours of behind the wheel training under the supervision of a Driver
                        Trainer.&nbsp;</li>
                    <li>
                        <div>
                            Drive a minimum of two (2) Priority-II calls and receive passing evaluations from a trainer.
                            A driver&nbsp;</div>
                        <div>
                            trainer must accompany the trainee in the driver compartment during these calls.
                        </div>
                    </li>
                    <li>
                        Drive a minimum of one (1) Priority-I call and receive passing evaluations from a trainer. A
                        driver&nbsp;
                        <div>
                            trainer must accompany the trainee in the driver compartment during this call.&nbsp;</div>
                    </li>
                    <li>
                        <div>
                            Drive to each Albany area hospital with a driver trainer to become familiar with routes to
                            these less&nbsp;</div>
                        <div>
                            common destinations.&nbsp;</div>
                    </li>
                    <li>
                        Pass the Driver Practical Exam administered by a Driver Trainer
                    </li>
                    <li>
                        Request and receive approval by the Promotional Board to be promoted to Probationary Driver
                    </li>
                </ul>
                <strong>Driver</strong>
                <ul>
                    <li>
                        Be a Probationary Driver
                    </li>
                    <li>
                        <div>
                            Drive two (2) calls as a probationary Driver and receive passing evaluations from a Trainer.
                        </div>
                    </li>
                    <li>
                        Request and receive approval by the Promotional Board as defined in SOPs to be promoted to
                        Driver
                    </li>
                </ul>
                <strong>Driver Trainer</strong>
                <ul>
                    <li>
                        <div>
                            Complete at least ten (10) shifts as a Driver or have been a Driver for at least three (3)
                            months while&nbsp;</div>
                        <div>
                            in service.&nbsp;</div>
                    </li>
                    <li>
                        <div>
                            Drive three (3) EMS calls, at least one (1) of which is Priority-I. Priority requirement may
                            be waived at&nbsp;</div>
                        <div>
                            the discretion of the Training Committee.
                        </div>
                    </li>
                    <li>
                        Teach a driver related course or drill under the supervision of a Driver Trainer.&nbsp;</li>
                    <li>
                        Teach at least three (3) Driver Checklist items to a trainee under the supervision of a Driver
                        Trainer.&nbsp;</li>
                    <li>
                        <div>
                            Conduct at least one (1) vehicle training session with a trainee under the supervision of a
                            Driver&nbsp;</div>
                        <div>
                            Trainer.&nbsp;</div>
                    </li>
                    <li>
                        Request and receive approval by the promotional board to be promoted to Driver Trainer
                    </li>
                </ul>
                <strong>Driver Class Presentation:</strong><br/>
                <ul>
                    <li>
                        <strong><a href="/uploads/Driver_Class_27SEPT2012.pptx">Driver Class</a></strong></li>
                </ul>
                <br/>
                <strong>Emergency Vehicle Defensive Driver (EVDD) Presentation:</strong><br/>
                <ul>
                    <li>
                        <a href="/uploads/EVDD_Class_March2014.pptx"><strong>EVDD Class M</strong></a><a
                            href="/uploads/EVDD_Class_March2014.pptx"><strong>ARCH2014</strong></a></li>
                </ul>
                <br/>
                <strong>Driver Training Documents:</strong><br/>
                <ul>
                    <li>
                        <strong><a href="/uploads/Driver%20Checklist_12OCT2012.pdf">Driver Checklist
                            16Mar2012</a></strong></li>
                </ul>
                <ul>
                    <li>
                        <a href="/uploads/Driver%20Call%20Evaluation_Updated.pdf"><strong>Driver Call Evaluation
                            21SEP2013</strong></a></li>
                </ul>
                <br/>
                <br/>
                *Please refer to the SOPs for up-to date requirements.
            </div>

            <!--Files Below Using Drive-->
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->