<section id="EditDefault">
    <div class="container">
        <div class="center">
            <h2>Edit Default Schedule</h2>
        </div>
        <table id="default-week" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Night</th>
                <th>Crew Chief</th>
                <th>Driver</th>
                <th>Rider</th>
                <th>Rider</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Sunday</td>

                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-suc">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-sud">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-sua">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-suo">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Monday</td>

                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-moc">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-mod">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-moa">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-moo">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Tuesday</td>

                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-tuc">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-tud">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-tua">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-tuo">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Wednesday</td>

                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-wec">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-wed">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-wea">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-weo">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Thursday</td>

                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-thc">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-thd">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-tha">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-tho">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Friday</td>

                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-frc">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-frd">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-fra">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-fro">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Saturday</td>

                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-sac">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-sad">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-saa">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="def-sao">
                            <option>NO DATA</option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="center">
            <button class="btn btn-success">Update Defualt Nights</button>
            <button class="btn btn-warning">Out of Service All</button>
            <button class="btn btn-danger">Cancel Change</button>
        </div>
    </div>
</section>