<section id="content">
    <div class="container">
        <div class="center">
            <h2>EMT Certification Reciprocity</h2>

            <div class="lead text-justify">
                <h3>
                    This page is up-to-date as of September, 2010. If you have EMT-Basic training in another state, you
                    may receive EMT Certification in New York through the <a
                        href="http://www.health.state.ny.us/nysdoh/ems/certification/reciprocity.htm" rel="nofollow"
                        target="_blank">NYS EMS Reciprocity Process</a>. This page is meant to walk you through the <a
                        href="http://www.health.state.ny.us/nysdoh/ems/pdf/reciprocity_packet.pdf" rel="nofollow"
                        target="_blank">Reciprocity Packet</a> [PDF], linked on that page. This packet contains all the
                    information you should need. This page is meant to summarize, not replace, the instructions found on
                    pages 6 and 7 in that packet. <span
                        style="font-weight: normal;">Two items of note for RPI students:</span></h3>
                <ol>
                    <li>
                        <span style="font-weight: normal;">There is a $25.00 fee which cannot be paid with cash or a personal check. Instead, purchase a money order from the Post Office in the Game Room on the first floor of the Union.</span>
                    </li>
                    <li>
                        <span style="font-weight: normal;">You must sign Form DOH-2178 &ldquo;Verification of EMT Certification&rdquo;
                            in the presence of a licensed Notary Public. There are several here at RPI; a list of of these individuals is available <a
                                    href="http://hr.rpi.edu/update.do?artcenterkey=409" rel="nofollow">here</a> . Please be polite: call before you show up.</span>
                    </li>
                </ol>
                <h4>Eligibility</h4>

                <p>Determine whether or not you are eligible for reciprocity based on the requirements on pages 2-5.
                    The following is a brief summary.</p>
                <ul>
                    <li>
                        You must be at least 18 years old, with valid EMS certification in another state.
                    </li>
                    <li>
                        If you have <strong>NREMT certification</strong>, or you have been previously certified in New
                        York: Please see the note on Page 3. You will need to take a NY Refresher Course. The EMT
                        refresher course, like the full EMT course, is taught at RPI. The state of New York will pay the
                        refresher fee if you are affiliate with RPI Ambulance.
                    </li>
                    <li>
                        If you received training through the <strong>Military, National Park Service or the federal
                        government</strong>: please see the note at the top of page 4.
                    </li>
                    <li>
                        If you have a <strong>prior criminal conviction</strong>: please see the note on Page 4.
                    </li>
                    <li>
                        You MAY NOT receive NYS reciprocity for any certification which was obtained through reciprocity
                        from another state. Please see the note on page 5 for more information.
                    </li>
                </ul>
                <h4>Relevant Forms</h4>
                Your reciprocity application must include three forms available in the packet:
                <ul>
                    <li>
                        DOH-2183 New York State EMT Reciprocity
                    </li>
                    <li>
                        DOH-2178 Verification of EMT Certification
                    </li>
                    <li>
                        DOH-2177 EMT Sheet for Reciprocity
                    </li>
                </ul>
                This section will discuss the process of filling out each of these forms.
                <h3><em>(1) DOH-2183 Application for New York State EMT Reciprocity (page 9)</em></h3>
                Fill in the following:
                <ul>
                    <li>
                        Part A. Personal Data. Fill out each section.
                    </li>
                    <li>
                        Part B. Training/Certification. Certification/Registration/License Number is the EMT number
                        assigned to you by your home state. Also include your National Registry number if you have one.
                        Photocopies of your home state EMT card and your CPR card should be included in your packet.
                    </li>
                    <li>
                        Part C. Level of Training. Check where relevant.
                    </li>
                    <li>
                        Part D. Most Recent Certification Information. Name of Institution is the military base,
                        college, hospital, or other institution where you were trained.
                    </li>
                    <li>
                        Part E. You must sign this document in the presence of a licensed <a
                            href="http://hr.rpi.edu/update.do?artcenterkey=409" rel="nofollow">Notary Public</a> on RPI&rsquo;s
                        campus. <strong>Please be polite: call before you show up.</strong></li>
                </ul>
                <h3><em>(2) DOH -2178 Verification of EMT Certification (page 10)</em></h3>
                Fill in your Home State EMT ID Number, your Date of Birth, your Name, and your Social Security Number.
                The remaining portion of this form must be completed by your home state EMS office. A listing of all the
                State EMS offices is available on Page 13 in the Reciprocity Packet. Find your home state EMS office,
                and send them the following:
                <ul>
                    <li>
                        This form (known as DOH-2178),
                    </li>
                    <li>
                        A self addressed, stamped envelope,
                    </li>
                    <li>
                        A letter instructing your home EMS office to complete the form and return it to you. Allow a few
                        weeks for processing.
                    </li>
                </ul>
                <strong>DO NOT open the envelope when the document is returned to you!</strong> In order to prevent
                forgery, the state of New York requires that this document be sent to them in a sealed envelope.
                <h3><em>(3) DOH-2177 EMT Sheet for Reciprocity (page 11)</em></h3>
                Detailed information about completing this form is available on Page 8 of the Reciprocity Packet.
                Complete the top portion of this page. <strong>Be sure to print your information in CAPITAL
                LETTERS.</strong> <strong> </strong>

                <h4>Other Documents</h4>
                Three other items are required as a part of your packet: <strong><em>(4 and 5) Copies of your EMT
                Certification and Current CPR Card</em></strong> If you have not already, photocopy your home state EMT
                Card and your current CPR card. These items are required by New York State.
                <h3>
                    <em>(6) Money Order</em></h3>
                The current fee for EMT-B reciprocity is <strong>$25.00</strong>, and $50.00 for higher training levels.
                <strong>Personal checks are not accepted, but you may purchase a Money Order at the Post Office in the
                    Game Room on the first floor of the Rensselaer Student Union.</strong> <strong> </strong>

                <h4>
                    Completing Your Application (Reciprocity Application Checklist, page 12)</h4>
                Review this document to ensure that you&rsquo;ve included all SIX of the required items:
                <ol>
                    <li>
                        Completed, signed, notarized <strong>DOH-2183 New York State EMT Reciprocity</strong>.
                    </li>
                    <li>
                        Sealed Envelope containing <strong>DOH-2178 Verification of EMT Certification</strong>,
                        completed by your home EMS office.
                    </li>
                    <li>
                        <strong>DOH-2177 EMT Sheet for Reciprocity</strong>. Ensure that you&rsquo;ve filled out this
                        form with CAPITAL LETTERS.
                    </li>
                    <li>
                        Photocopy of your home state <strong>EMT certification card or document</strong>. DO NOT send
                        the original.
                    </li>
                    <li>
                        Photocopy of your <strong>CPR card</strong>. DO NOT send the original.
                    </li>
                    <li>
                        Certified check or <strong>Money Order for $25.00</strong>.
                    </li>
                </ol>
                Send these items to: <strong>New York State Department of Health</strong> <strong>Bureau of Emergency
                Medical Services</strong> <strong>Reciprocity Unit</strong> <strong>433 River Street, Suite 303</strong>
                <strong>Troy, NY 12180</strong> You should recieve your NYS card within a few weeks. When you do, be
                sure to inform the officers of your EMT number. Good luck!

            </div>
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->
