<section id="game">
    <div class="container">
        <div class="center">
            <h2>EVENT NAME</h2>
            <table id="event table" class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td>H. Leinweber</td>
                <td>Z. White</td>
                <td>F. Freshman</td>
            </tr>
            <tr>
                <td>D. Sparkman</td>
                <td>C. Williams</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</section>