<section id="NightCrews">
    <div class="container">
        <div class="center">
            <div class="ico_text">
                <i class='ico text-danger fa fa-warning fa-2x'></i>
                <h2 class="title_text">Expired</h2>
                <i class='ico text-danger fa fa-warning fa-2x'></i>
            </div>
            <table id="expired" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Item</th>
                    <th>Expiration Date</th>
                    <th>Resolve</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Wolmark</td>
                    <td>David</td>
                    <td>CPR</td>
                    <td>1/31/16</td>
                    <td>
                        <button class="btn btn-xs">Fix</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="ico_text">
                <i class='ico text-warning fa fa-info-circle fa-2x'></i>
                <h2 class="title_text">Expiring Soon</h2>
                <i class='ico text-warning fa fa-info-circle fa-2x'></i>
            </div>
            <table id="expiring_soon" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Item</th>
                    <th>Expiration Date</th>
                    <th>Resolve</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Wolmark</td>
                    <td>David</td>
                    <td>CPR</td>
                    <td>2/31/16</td>
                    <td>
                        <button class="btn btn-xs">Fix</button>
                    </td>
                </tr>
                </tbody>

        </div> <!--/center-->
    </div> <!--/.container-->
</section>
<!--/NightCrews-->