<section id="NightCrews">
    <div class="container">
        <div class="center">
            <div class="ico_text">
                <i class='ico text-danger fa fa-warning fa-2x'></i>
                <h2 class="title_text">Expired</h2>
                <i class='ico text-danger fa fa-warning fa-2x'></i>
            </div>
            <table id="expired" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Item</th>
                    <th>Expiration Date</th>
                    <th>Resolve</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in expired | orderBy:'exp'">
                    <td ng-bind="e.last_name"></td>
                    <td ng-bind="e.first_name"></td>
                    <td ng-bind="e.type"></td>
                    <td ng-bind="e.exp"></td>
                    <td>
                        <a class="btn btn-default btn-sm" style="padding: 1px 5px; margin: 0" ng-href="#/edit-member/{{e.id}}">Fix</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="ico_text">
                <i class='ico text-warning fa fa-info-circle fa-2x'></i>
                <h2 class="title_text">Expiring Soon</h2>
                <i class='ico text-warning fa fa-info-circle fa-2x'></i>
            </div>
            <table id="expiring_soon" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Item</th>
                    <th>Expiration Date</th>
                    <th>Resolve</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in expiring | orderBy:'exp'">
                    <td ng-bind="e.last_name"></td>
                    <td ng-bind="e.first_name"></td>
                    <td ng-bind="e.type"></td>
                    <td ng-bind="e.exp"></td>
                    <td>
                        <a class="btn btn-default btn-xs" style="padding: 1px 5px; margin: 0" ng-href="#/edit-member/{{e.id}}">Fix</a>
                    </td>
                </tr>
                </tbody>

        </div> <!--/center-->
    </div> <!--/.container-->
</section>
<!--/NightCrews-->
