<section id="about-us">
    <div class="container">
        <div class="center">
            <h2>About FR-59</h2>

            <p class="lead text-justify">First Response 59 is RPI Ambulance's first response vehicle. It is a 2007 Ford
                Explorer that was first placed in service with the agency in October of 2014. FR-59 is equipped to NYS
                Part 800.26 with a full complement of disposable medical supplies, splints, epinephrine, a glucometer
                and a foldable backboard. During night crews, it serves to transport the crew from our office to our
                garage where the ambulance is parked.</p>

        </div>


        <img class="img-responsive center-block" data-wow-duration="1000ms"
             data-wow-delay="300ms" src="img/fr-59.jpg" width="75%">

        <div class="text-center lead"><b>FR-59 and EMPAC in February of 2015</b></div>

        <!-- Our Skill -->
        <div class="skill-wrap clearfix">

            <div class="center">
                <h2>History of FR-59</h2>

                <p class="lead text-justify">In 2011 discussion of acquiring a First Response type vehicle was brought up by the
                    membership and supported by the RPI Administration. Initially the vehicle was to be a new SUV with
                    hybrid engine technology to support RPI's Green Initiatives. However due to budget constraints and
                    the fact that adding a new vehicle to the RPI Ambulance family would be a major change to the
                    agency's operations, it was decided that a Subaru Forester would be converted to a full Emergency
                    Ambulance Service Vehicle. The Forester was first placed in service in May of 2012.</p>

                <img class="img-responsive center-block" data-wow-duration="1000ms"
                     data-wow-delay="300ms" src="img/fr-59-old.jpg" width="75%">

                <div class="text-center lead"><b>The old FR-59 at the RPI Houston Field House</b></div>

                <p class="lead text-justify">It unfortunately did not take long for the Forester to be plagued by various
                    mechanical problems. So, in Spring of 2014, the agency began the search for a new first response vehicle.
                    After testing several different options, it was decided that the 2007 Ford Explorer would be the newest
                    addition to the RPIA fleet.</p>
            </div>

        </div>
        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->