<section id="games-events">
    <div class="container">
        <div class="center">
            <h2>Games and Events for MONTH YEAR</h2>
            <div class="container">
                <div id='calendar'>
                    <center>
											<button class="btn btn-standard" align="right">Previous Month</button>
											<button class="btn btn-standard" align="left">Next Month</button>
		<hr/>
		<table width="100%" cellspacing="0" class="solidborder" border=2>
			<tr>
				<th class="solidborder" width="14.2857143%"><a class="nschhd">SUNDAY</a></th>
				<th class="solidborder" width="14.2857143%"><a class="nschhd">MONDAY</a></th>
				<th class="solidborder" width="14.2857143%"><a class="nschhd">TUESDAY</a></th>
				<th class="solidborder" width="14.2857143%"><a class="nschhd">WEDNESDAY</a></th>
				<th class="solidborder" width="14.2857143%"><a class="nschhd">THURSDAY</a></th>
				<th class="solidborder" width="14.2857143%"><a class="nschhd">FRIDAY</a></th>
				<th class="solidborder" width="14.2857143%"><a class="nschhd">SATURDAY</a></th>
			</tr><tr>
				<td width="14.2857143%" height="95px" class="solidborder">
					<table border="0" cellpadding="0">
						<tr>
							<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
							<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>26</b></font></td>
						</tr>
						<tr>
							<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
						</tr>
					</table>
				</td>
				<td width="14.2857143%" height="95px" class="solidborder">
					<table border="0" cellpadding="0">
						<tr>
							<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
							<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>27</b></font></td>
						</tr>
						<tr>
							<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
						</tr>
					</table>
				</td>
				<td width="14.2857143%" height="95px" class="solidborder">
					<table border="0" cellpadding="0">
						<tr>
							<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
							<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>28</b></font></td>
						</tr>
						<tr>
							<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
						</tr>
					</table>
				</td>
				<td width="14.2857143%" height="95px" class="solidborder">
					<table border="0" cellpadding="0">
						<tr>
							<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
							<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>29</b></font></td>
						</tr>
						<tr>
							<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
						</tr>
					</table>
				</td>
				<td width="14.2857143%" height="95px" class="solidborder">
					<table border="0" cellpadding="0">
						<tr>
							<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
							<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>30</b></font></td>
						</tr>
						<tr>
							<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
						</tr>
					</table>
				</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>1</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>2</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td></tr><tr>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>3</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>4</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>5</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">
									<span class="footnote"><font color="red">Today</font></span>
								</td>
								<td width="100%" height="20px" align="right" valign="center">
									<strong>6</strong>
								</td>
							</tr>
							<tr>
								<td colspan="2" width="14.2857143%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>7</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>8</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>9</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td></tr><tr>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>10</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>11</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>12</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>13</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>14</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>15</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>16</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td></tr><tr>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>17</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>18</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>19</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>20</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>21</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>22</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>23</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td></tr><tr>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>24</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>25</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>26</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>27</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>28</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>29</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>30</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td></tr><tr>
					<td width="14.2857143%" height="95px" class="solidborder">
						<table border="0" cellpadding="0">
							<tr>
								<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
								<td width="100%" height="20px" align="right" valign="center"><strong>31</strong></td>
							</tr>
							<tr>
								<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
							</tr>
						</table>
					</td>
						<td width="14.2857143%" height="95px" class="solidborder">
							<table border="0" cellpadding="0">
								<tr>
									<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
									<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>1</b></font></td>
								</tr>
								<tr>
									<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
								</tr>
							</table>
						</td>
						<td width="14.2857143%" height="95px" class="solidborder">
							<table border="0" cellpadding="0">
								<tr>
									<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
									<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>2</b></font></td>
								</tr>
								<tr>
									<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
								</tr>
							</table>
						</td>
						<td width="14.2857143%" height="95px" class="solidborder">
							<table border="0" cellpadding="0">
								<tr>
									<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
									<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>3</b></font></td>
								</tr>
								<tr>
									<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
								</tr>
							</table>
						</td>
						<td width="14.2857143%" height="95px" class="solidborder">
							<table border="0" cellpadding="0">
								<tr>
									<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
									<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>4</b></font></td>
								</tr>
								<tr>
									<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
								</tr>
							</table>
						</td>
						<td width="14.2857143%" height="95px" class="solidborder">
							<table border="0" cellpadding="0">
								<tr>
									<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
									<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>5</b></font></td>
								</tr>
								<tr>
									<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
								</tr>
							</table>
						</td>
						<td width="14.2857143%" height="95px" class="solidborder">
							<table border="0" cellpadding="0">
								<tr>
									<td width="100%" height="20px" align="left" valign="center">&nbsp;</td>
									<td width="100%" height="20px" align="right" valign="center"><font color="#999"><b>6</b></font></td>
								</tr>
								<tr>
									<td width="100%" height="75px" align="center" valign="center">&nbsp;</td>
								</tr>
							</table>
						</td></tr></table><br /><a href="webcal://ambulance.union.rpi.edu/calendar.ics" target="_blank"><img src="images/calendar-icon.png" alt="Open WebCal" border="0" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fambulance.union.rpi.edu%2Fcalendar.ics" target="_blank"><img src="images/addtogooglecal.gif" alt="Add to Google Calendar" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://ambulance.union.rpi.edu/calendar.ics" target="_blank"><img src="images/ButtonDownload.png" alt="Download Calendar" border="0" height="48" width="48" /></a></center>			</div>
		</center>
                </div>
            </div>
        </div>
    </div>
</section>
