<!-- HTML Partial for the Home view -->
<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(img/slider/bg1-DS.jpg)" >
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <div class="gray-background">
                                    <h1 class="animation animated-item-1">RPI Ambulance</h1>

                                    <h2 class="animation animated-item-2">RPI Ambulance is a student run and operated
                                        Basic Life Support (BLS) transporting ambulance agency that serves the RPI
                                        campus and surrounding communities. We respond to approximately 150 to 200 calls
                                        and provide first aid coverage to about 25 special events every academic
                                        year.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#/rpia-about">Read More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <!-- VIDEO CAN GO HERE, BUT NOT FOR THIS IMAGE-->
                        </div>

                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item" style="background-image: url(img/slider/bg2-DS.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <div class="gray-background">
                                    <h1 class="animation animated-item-1">5939</h1>

                                    <h2 class="animation animated-item-2">RPI Ambulance operates a 2006 AEV Trauma Hawk
                                        XL Type II ambulance mounted on a Ford E-350 chassis. This vehicle was placed in
                                        service in the Spring of 2007. The county vehicle identifier is 5939, however
                                        the ambulance was formerly known as A-39 and continues to hold this call sign
                                        within the agency. 5939 is the fifth van ambulance operated by RPI Ambulance.
                                        The first was placed in service in 1983.</h2>
                                </div>
                                <a class="btn-slide animation animated-item-3" href="#/5939-about">Read More</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <div class="slider-img">
                                    <!--<video autoplay loop poster="img/slider/bg1-DS.jpg" id="bgvid">-->
                                        <!--<source src="img/slider/ambbg.mp4" type="video/mp4">-->
                                    <!--</video>-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item" style="background-image: url(img/slider/bg3-DS.jpg)" >
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <div class="gray-background">
                                    <h1 class="animation animated-item-1">FR-59</h1>

                                    <h2 class="animation animated-item-2">First Response 59 is RPI Ambulance's first
                                        response vehicle. It is a 2007 Ford Explorer that was first placed in service
                                        with the agency in October of 2014. FR-59 is equipped to NYS Part 800.26 with a
                                        full complement of disposable medical supplies, splints, epinephrine, a
                                        glucometer and a foldable backboard. During night crews, it serves to transport
                                        the crew from our office to our garage where the ambulance is parked.</h2>
                                </div>
                                <a class="btn-slide animation animated-item-3" href="#/fr59-about">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <!--<video autoplay loop poster="img/slider/bg1-DS.jpg" id="bgvid2">-->
                                    <!--<source src="img/slider/frbg.mp4" type="video/mp4">-->
                                <!--</video>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->

<section id="upcoming-events">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Upcoming Events</h2>

            <p class="lead">This is a calendar containing all our upcoming events.<br> Come stop by and see us!</p>
        </div>
        <!--Place Calendar Insert here and remove current content-->
        <!--The current calendar uses a Google Calendar API to add events to a g-cal.
        We want to be able to do this both ways. A full g-cal is not possible, because
        people still need to be able to sign up for events-->
        <!--This is where the MYSQL queries should end up. Currently we are picking the top 5 events displaying them
        with time, location, and name. See the current site for clarification. PHP event code is located in events.php.
        Additional page resources that may be required can be found in the google drive folder containing the old page
        sources. If you haven't been shared on the folder, let me know and I'll take car of that." -->


    </div>
    <!--/.container-->
</section>
<!--/#feature-->

<section id="partners">
    <div class="container-fluid">
        <div class="center wow fadeInDown">
            <h2>Other Agencies</h2>

            <p class="lead">RPI Ambulance works with other agencies both within the RPI community and throughout the
                City of Troy and Rensselear County.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row partners">
            <div class="col-md-8 col-md-offset-2 center">
                <ul>
                    <li><a href="http://www.rpi.edu/dept/public_safety/"><img class="partner wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="300ms" src="img/partners/new/pubsafe.svg"></a></li>
                    <li><a href="http://studenthealth.rpi.edu/"><img class="partner wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="600ms" src="img/partners/new/shc.svg"></a></li>
                    <li><a href="http://www.remo-ems.com/"><img class="partner wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="900ms" src="img/partners/new/remo.svg"></a></li>
                    <li><a href="http://www.rensco.com/publicsafety_ems.asp"><img class="partner wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="1200ms" src="img/partners/RENSCO.svg"></a></li>
                    <li><a href="http://www.troyny.gov/Departments/FireDepartment.aspx"><img class="partner wow fadeInDown" data-wow-duration="1000ms"
                                         data-wow-delay="1500ms" src="img/partners/new/tfd.svg"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/#partner-->