<section id="content">
    <div class="container">
        <div class="center">
            <h2>In-Service Training</h2>
<!--SWITCH THIS TO A GOOGLE DOCS PAGE!!-->
            <div class="lead">
                <strong>Epinephrine:</strong>
                <ul>
                    <li>
                        Epinephrine Training Presentation
                    </li>
                    <li>
                        <a href="/uploads/epi_nys_protocol.pdf">NYS DOH Epinephrine Protocol</a></li>
                    <li>
                        <a href="/uploads/epi_remo_protocol.pdf">REMO Epinephrine Protocol</a></li>
                    <li>
                        <a href="/uploads/epi_qi_form.pdf">REMO Epinephrine QI Form</a></li>
                </ul>
                <strong>Glucometry:</strong>
                <ul>
                    <li>
                        Coming soon!
                    </li>
                </ul>
                <strong>OSHA:</strong>
                <ul>
                    <li style="margin: 0px; font-family: Arial; color: rgb(35, 35, 35); ">
                        <a href="/uploads/osha.pdf"><span
                                style="letter-spacing: 0px; ">RPIA Annual OSHA Presentation</span></a></li>
                </ul>

            </div>

            <!--Files Below Using Drive-->
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->