<section id="join">
    <div class="container">
        <page-content ng-hide="editMode"></page-content>
        <edit-content ng-show="editMode"></edit-content>
    </div>

    <div class="container">
        <div class="center">
            <h2>Drop us a line!</h2>
            <p class="lead">Use this from to send us an email. We'll get back to you soon!</p>
            <div class="alert alert-danger"><i class="fa fa-warning"></i><strong>Heads Up! </strong>Since this site is
                still under development this feature is not yet fully functional. We apologize for any inconvenience. Please
                contact <a href="mailto:officers@rpiambulance.com">officers@rpiambulance.com</a> until the issue is resolved. </div>
            <div class="alert alert-success alert-dismissible" ng-show="showContactSuccess" role="alert">
                <button type="button" class="close" ng-click="showContactSuccess = false"><span aria-hidden="true">&times;</span></button>
                <strong><i class="fa fa-paper-plane"></i>Success!</strong> Your email was successfully sent. Thank you for reaching out to us!
            </div>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form" name="contact-form" role="form" ng-submit="submitForm()" novalidate>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        <label for="name">Name<sup class="text-danger">*</sup></label>
                        <input type="text" name="name" id="name" ng-model="name" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="email">Email<sup class="text-danger">*</sup></label>
                        <input type="email" name="email" id="email" ng-model="email" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" name="phone" ng-model="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="company">Company Name</label>
                        <input type="text" id="company" name="company" ng-model="company" class="form-control">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="subject">Subject<sup class="text-danger">*</sup></label>
                        <input type="text" name="subject" id="subject" ng-model="subject" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="message">Message<sup class="text-danger">*</sup></label>
                        <textarea name="message" id="message" ng-model="message" required="required" class="form-control" rows="8"></textarea>
                    </div>
                    <!--<div class="g-recaptcha" data-sitekey="6LdHKxUTAAAAAGTBpgYEJZDoAz1uGqG_tX_gQb1K"></div>-->
                    <div class="btn-toolbar">
                        <button class="btn btn-default btn-lg" type="reset" ng-click="clearForm()">Clear Form</button>
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Submit Message</button>
                    </div>
                </div>
            </form>
        </div><!--/.row-->
    </div><!--/.container-->

</section>