<section id="member-list">
    <div class="container">
        <h2>Civil Side Officers</h2>
        <table id="Civil" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Radio ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Position</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>986</td>
                <td>Williams</td>
                <td>Ciera</td>
                <td>President</td>
                <td>willic12@rpi.edu</td>
            </tr>
            <tr>
                <td>981</td>
                <td>Martin</td>
                <td>Rebbecca</td>
                <td>Vice President</td>
                <td>martir12@rpi.edu</td>
            </tr>
        </table>
        <h2>Line Side Officers</h2>
        <table id="Line" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Radio ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Position</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>974</td>
                <td>Manzini</td>
                <td>Thomas</td>
                <td>Captain</td>
                <td>manzit@rpi.edu</td>
            </tr>
            <tr>
                <td>980</td>
                <td>Rupp</td>
                <td>Brittany</td>
                <td>First Lieutenant</td>
                <td>ruppb@rpi.edu</td>
            </tr>
            <tr>
                <td>985</td>
                <td>Leinweber</td>
                <td>Harrisson</td>
                <td>Second Lieutenant</td>
                <td>lienwh@rpi.edu</td>
            </tr>
        </table>
        <h2>General Membership</h2>
        <table id="General" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Radio ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Position(s)</th>
                <th>Email</th>
            </tr>
            </thead>
        </table>
    </div>
</section>