<section id="member-list">
    <div class="container">
        <h2>Civil Side Officers</h2>
        <table id="Civil" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="10%">Radio ID</th>
                    <th width="22.5%">Last Name</th>
                    <th width="22.5%">First Name</th>
                    <th width="22.5%">Position</th>
                    <th width="22.5%">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in civilSide | orderBy:['-pres','-vicepres']">
                    <td class="text-center"><span ng-if="m.radionum != 0">{{o.radionum}}</span></td>
                    <td>{{o.last_name}}</td>
                    <td>{{o.first_name}}</td>
                    <td ng-if="o.pres == 1">President</td>
                    <td ng-if="o.vicepres == 1">Vice President</td>
                    <td><a ng-href="mailto:{{o.email.toLowerCase()}}">{{o.email.toLowerCase()}}</a></td>
                </tr>
            </tbody>
        </table>
        <h2>Line Side Officers</h2>
        <table id="Line" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="10%">Radio ID</th>
                    <th width="22.5%">Last Name</th>
                    <th width="22.5%">First Name</th>
                    <th width="22.5%">Position</th>
                    <th width="22.5%">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in lineSide | orderBy:['-captain','-firstlt','-secondlt']">
                    <td class="text-center"><span ng-if="m.radionum != 0">{{o.radionum}}</span></td>
                    <td>{{o.last_name}}</td>
                    <td>{{o.first_name}}</td>
                    <td ng-if="o.captain == 1">Captain</td>
                    <td ng-if="o.firstlt == 1">First Lieutenant</td>
                    <td ng-if="o.secondlt == 1">Second Lieutenant</td>
                    <td><a ng-href="mailto:{{o.email.toLowerCase()}}">{{o.email.toLowerCase()}}</a></td>
                </tr>
            </tbody>
        </table>

        <h2>Other Positions</h2>
        <table id="Other" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="10%">Radio ID</th>
                    <th width="22.5%">Last Name</th>
                    <th width="22.5%">First Name</th>
                    <th width="22.5%">Position</th>
                    <th width="22.5%">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in otherOfficers">
                    <td class="text-center"><span ng-if="m.radionum != 0">{{o.radionum}}</span></td>
                    <td>{{o.last_name}}</td>
                    <td>{{o.first_name}}</td>
                    <td>{{o.card_id}}</td>
                    <!-- <td ng-if="o.radioco == 1">Radio Coordinator</td>
                    <td ng-if="o.traincommchair == 1">Training Committee Chair</td>
                    <td ng-if="o.schedco == 1">Scheduling Coordinator</td>
                    <td ng-if="o.admin == 1 && o.captain == 0">Webmaster</td> -->
                    <td><a ng-href="mailto:{{o.email.toLowerCase()}}">{{o.email.toLowerCase()}}</a></td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group btn-group-sm pull-right">
            <button class="btn btn-default btn-danger"
                    ng-class="{'active': !radioFilter}" ng-click="radioFilter = false">
                    All Members
            </button>
            <button class="btn btn-default btn-danger"
                    ng-class="{'active': radioFilter}" ng-click="radioFilter = true">
                Members with Radio IDs
            </button>
        </div>
        <h2>
            General Membership
        </h2>
        <table id="General" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="10%">Radio ID</th>
                    <th width="22.5%">Last Name</th>
                    <th width="22.5%">First Name</th>
                    <th width="22.5%">Position(s)</th>
                    <th width="22.5%">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in members | orderBy:'last_name'" ng-if="!radioFilter || m.radionum != 0">
                    <td class="text-center"><span ng-if="m.radionum != 0">{{m.radionum}}</span></td>
                    <td>{{m.last_name}}</td>
                    <td>{{m.first_name}}</td>
                    <td class="text-center">{{determinePositions(m)}}</td>
                    <td><a ng-href="mailto:{{o.email.toLowerCase()}}">{{m.email.toLowerCase()}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
