<section id="ModifySchedule">
    <div class="container">
        <div class="center">
            <h2>Current Week</h2>
            <table id="current_week" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Night</th>
                    <th>Date</th>
                    <th>Crew Chief</th>
                    <th>Driver</th>
                    <th>Rider</th>
                    <th>Rider</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1suc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1sud">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1sua">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1suo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1moc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1mod">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1moa">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1moo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1tuc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1tud">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1tua">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1tuo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1wec">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1wed">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1wea">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1weo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1thc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1thd">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1tha">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1tho">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                    <select class="form-control" id="w1frc">
                        <option>NO DATA</option>
                    </select>
                </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1frd">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1fra">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1fro">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1sac">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1sad">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1saa">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w1sao">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                </tbody>
            </table>
            <h2>Upcoming Week</h2>
            <table id="upcoming_week" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Night</th>
                    <th>Date</th>
                    <th>Crew Chief</th>
                    <th>Driver</th>
                    <th>Rider</th>
                    <th>Rider</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2suc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2sud">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2sua">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2suo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2moc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2mod">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2moa">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2moo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2tuc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2tud">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2tua">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2tuo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2wec">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2wed">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2wea">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2weo">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2thc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2thd">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2tha">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2tho">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2frc">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2frd">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2fra">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2fro">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>MM/DD/YY</td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2sac">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2sad">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2saa">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                    <td><div class="form-group">
                        <select class="form-control" id="w2sao">
                            <option>NO DATA</option>
                        </select>
                    </div></td>
                </tr>
                </tbody>
            </table>

        </div> <!--/center-->
        <div class="center">
            <button class="btn btn-success">Update Schedule</button>
            <button class="btn btn-warning">Clear All</button>
            <button class="btn btn-danger">Cancel Change</button>
        </div>
    </div> <!--/.container-->
</section>
<!--/NightCrews-->