<section id="ModifySchedule">
    <div class="container">
        <div class="center">
            <h2>Current Week</h2>
            <table id="current_week" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Night</th>
                        <th>Date</th>
                        <th>Crew Chief</th>
                        <th>Driver</th>
                        <th>Rider</th>
                        <th>Rider</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in currentWeekCrews | orderBy:'id'">
                        <td>{{i.date | date:'EEEE'}}</td>
                        <td>{{i.date | date:'shortDate'}}</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.cc_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.driver_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.attendant_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.observer_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>Upcoming Week</h2>
            <table id="upcoming_week" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Night</th>
                        <th>Date</th>
                        <th>Crew Chief</th>
                        <th>Driver</th>
                        <th>Rider</th>
                        <th>Rider</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in upcomingWeekCrews | orderBy:'id'">
                        <td>{{i.date | date:'EEEE'}}</td>
                        <td>{{i.date | date:'shortDate'}}</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.cc_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.driver_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.attendant_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="i.observer_member_id">
                                    <option value="-2">OUT OF SERVICE</option>
                                    <option value="-1">RESERVED</option>
                                    <option value="0"></option>
                                    <option ng-repeat="m in members | orderBy:'last_name'"
                                            value="{{m.id}}">
                                        {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div> <!--/center-->
        <div class="center">
            <button class="btn btn-success">Update Schedule</button>
            <button class="btn btn-warning">Clear Upcoming</button>
            <button class="btn btn-danger">Cancel Change</button>
        </div>
    </div> <!--/.container-->
</section>
<!--/NightCrews-->
