<section id="content">
    <div class="container">
        <div class="center">
            <h2>New Member Training</h2>

            <div class="lead text-justify">
                Members that are new to RPI Ambulance start out as observers. Observers do not take part in patient
                care, and are only there to observe and learn about the operations and the equipment on the ambulance.
                The goal of all observers is to be promoted to Attendant. All New Members must go through a mandatory
                OSHA (Occupational Safety and Health Administration) safety training, a HIPAA (Health Insurance
                Portability and Accountability Act) patient confidentiality training and and RPI Ambulance Orientation
                Class.
            </div>

            <!--Files Below Using Drive-->
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->