<section id="NightCrews">
    <div class="container">
        <div class="center">
            <h2>Current Week</h2>
            <table id="current_week" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Night</th>
                    <th>Date</th>
                    <th>Crew Chief</th>
                    <th>Driver</th>
                    <th>Rider</th>
                    <th>Rider</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in currentWeekCrews | orderBy:'id'">
                    <td>{{i.date | date:'EEEE'}}</td>
                    <td>{{i.date | date:'shortDate'}}</td>
                    <td>
                        {{formatName(i.cc_first_name, i.cc_last_name)}}
                        <button ng-if="i.cc_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.cc_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                    <td>
                        {{formatName(i.driver_first_name, i.driver_last_name)}}
                        <button ng-if="i.driver_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.driver_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                    <td>
                        {{formatName(i.attendant_first_name, i.attendant_last_name)}}
                        <button ng-if="i.attendant_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.attendant_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                    <td>
                        {{formatName(i.observer_first_name, i.observer_last_name)}}
                        <button ng-if="i.observer_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.observer_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <h2>Upcoming Week</h2>
            <table id="upcoming_week" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Night</th>
                    <th>Date</th>
                    <th>Crew Chief</th>
                    <th>Driver</th>
                    <th>Rider</th>
                    <th>Rider</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in upcomingWeekCrews | orderBy:'id'">
                    <td>{{i.date | date:'EEEE'}}</td>
                    <td>{{i.date | date:'shortDate'}}</td>
                    <td>
                        {{formatName(i.cc_first_name, i.cc_last_name)}}
                        <button ng-if="i.cc_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.cc_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                    <td>
                        {{formatName(i.driver_first_name, i.driver_last_name)}}
                        <button ng-if="i.driver_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.driver_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                    <td>
                        {{formatName(i.attendant_first_name, i.attendant_last_name)}}
                        <button ng-if="i.attendant_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.attendant_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                    <td>
                        {{formatName(i.observer_first_name, i.observer_last_name)}}
                        <button ng-if="i.observer_member_id == 0" class="btn btn-danger btn-xs nc-button">Register</button>
                        <button ng-if="canDelete(i.observer_member_id)" class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div> <!--/center-->
    </div> <!--/.container-->
</section>
<!--/NightCrews-->
