<section id="NightCrews">
    <div class="container">
        <div class="center">
            <h2>Current Week</h2>
            <table id="current_week" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Night</th>
                    <th>Date</th>
                    <th>Crew Chief</th>
                    <th>Driver</th>
                    <th>Rider</th>
                    <th>Rider</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                </tbody>
            </table>
            <h2>Upcoming Week</h2>
            <table id="upcoming_week" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Night</th>
                    <th>Date</th>
                    <th>Crew Chief</th>
                    <th>Driver</th>
                    <th>Rider</th>
                    <th>Rider</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker <button class="btn btn-danger btn-xs"><span class="fa fa-close"></span></button></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>MM/DD/YY</td>
                    <td>Carol Crew-Chief</td>
                    <td>Danny Driver</td>
                    <td>Frankie Freshman</td>
                    <td>Wilson Whacker</td>
                </tr>
                </tbody>
            </table>

        </div> <!--/center-->
    </div> <!--/.container-->
</section>
<!--/NightCrews-->