<section id="content">
    <div class="container">
        <div class="center">
            <h2>Standard Operating Procedures</h2>

            <div class="lead text-justify">
                RPI Ambulance follows guidelines for conducting our day-to-day operations. They are defined in the documents
                listed below. These documents were last updated on their specified dates.
            </div>
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->
