<section id="content">
    <div class="container">
        <div class="center">
            <h2>Supervisor Training</h2>

            <div class="lead text-justify">
                <strong>Event EMS Supervisor (EES)</strong><br/>
                <br/>
                Event EMS Supervisors (EES) are full crew chiefs who have been specially trained to supervise RPI
                Ambulance operations at special events and functions. The EES-in charge (unit 900) acts as a in-house
                dispatcher and medical supervisor.<br/>
                <br/>
                </div>

                <a href="/uploads/Event%20EMS%20Supervisor%20Checklist%20V2%2012OCT2012.pdf">Event EMS Supervisor
                    Checklist 12 OCT 2012</a><br/>
                <br/>
                <a href="/uploads/Event%20EMS%20Supervisor%20Evaluation%2012OCT2012.pdf">Event EMS Supervisor Evaluation
                    12 OCT 2012</a><br/>
                <br/>
                <strong>Current Event EMS Supervisors</strong>:<br/>
                <ul style="list-style-type: none;">
                    <li>
                        Nicholas Hopkins, 922
                    </li>
                    <li>
                        Brent Campbell, 926
                    </li>
                    <li>
                        Tom Manzini, 974
                    </li>
                    <li>
                        Jordan Williams, 975
                    </li>
                </ul>
                <br/>
            <div class="lead text-left-al">
                <strong>Duty Supervisor</strong><br/>
                <br/>
                The Duty Supervisor is on call 24 hours a day to handle any emergencies, incidents, or other issues that
                must be handled promptly, or to assist crews or members as needed. Duty Supervisors are the most highly
                credentialed members in the agency. The on-duty Supervisor carries a dedicated cell phone (providing
                members, DPS, other entities a way to always reach a knowledgeable person via phone &ndash; the cell
                phone is always able to be answered, and the number will not change with changes in supervisors, unlike
                changes in officers will). The supervisor also carries an RPIA portable and a portable 800, in order to
                be able to monitor and contact the duty crew or the county via radio, if necessary. The Supervisor is
                Car 4.<br/>
                <br/>
                <h4 id="toc0">
                    <a name="x---Duty Supervisor Requirements:"></a>Duty Supervisor Requirements:</h4>
                <ul>
                    <li>
                        Be a Crew Chief Trainer
                    </li>
                    <li>
                        Be a Driver Trainer
                    </li>
                    <li>
                        Be an EES
                    </li>
                    <li>
                        Have a 70% or higher QI compliance rate
                    </li>
                    <li>
                        Pass a promotional board consisting of the Captain and current Duty Supervisors
                    </li>
                </ul>
                <h4 id="toc2">
                    <a name="x---Current Duty Supervisors (September 2010):"></a>Current Duty Supervisors</h4>
                <ul>
                    <li>
                        Thomsas Manzini, 974
                    </li>
                    <li>
                        Jordan Williams, 975
                    </li>
                </ul>
                <h4>
                    <br/>
                    Past Duty Supervisors</h4>
                <ul>
                    <li>
                        Nick Hopkins, 922
                    </li>
                    <li>
                        Doug Longnecker, 923
                    </li>
                    <li>
                        Peter Ragone, 924
                    </li>
                    <li>
                        Corey Stall, 931
                    </li>
                    <li>
                        Courtney Hart, 934
                    </li>
                    <li>
                        George Moraru, 936
                    </li>
                    <li>
                        Jovan Cruz, 958
                    </li>
                    <li>
                        Mark O&#39;Donnell, 944
                    </li>
                    <li>
                        Brent Campbell, 926
                    </li>
                    <li>
                        Mike O&#39;Keefe, 941
                    </li>
                    <li>
                        Joseph Stevens, 960
                    </li>
                </ul>

            </div>

            <!--Files Below Using Drive-->
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->