<section id="content">
    <div class="container">
        <div class="center">
            <h2>Text Message Dispatch</h2>

            <div class="lead text-justify">
                <h4>Purpose of Texting</h4>
                Due to the high cost and low availability of radios, many new members who are in training and have
                difficulty getting ride time need other means of receiving dispatches for day calls. This has been
                implemented with text message dispatches<br/>
                <br/>
                <h4>Text Message Dispatch List</h4>
                RensCo sends text message dispatches to participating agencies once a radio dispatch has been made. RPIA
                has these messages sent to the duty phone, a phone at the desk of RPI DPS, and an email - <a
                    href="mailto:RPIAMB-TMD-L@lists.rpi.edu" rel="nofollow">RPIAMB-TMD-L@lists.rpi.edu</a>. This email
                is a list that is edited via RPI LISTPROC. This is done so members can be added to and removed from the
                list immediately as required, without having to wait for county to process such requests. Also, at a
                glance, the list of recipients for the text message dispatch are available. <a
                    href="mailto:RPIAMB-TMD-L@lists.rpi.edu" rel="nofollow">RPIAMB-TMD-L@lists.rpi.edu</a> is configured
                so only admins can email the list &ndash; currently the Captain, President. <a
                    href="mailto:renscobps@gmail.com" rel="nofollow">renscobps@gmail.com</a> and renscobps1@gmail.com,
                the emails the county uses to send text message dispatches, are also listed as owners so they may email
                the list. It is also configured so only admins can add or remove people from the list Sending dispatches
                through this list do produce a noticeable delay. However, the utility of being able to modify the list
                in real time has outweighed this cost. Also, personnel who rely on text message dispatches are
                traditionally not able to serve as a CC or a Driver, and as such a delay in their response will not
                equate to a delay in ambulance response.<br/>
                <br/>
                <h4><strong>Agreement</strong></h4>
                All users who participate in text message dispatches are agreeing to conform to the following rules: RPI
                Ambulance is offering a text message dispatch service to its members to increase training opportunities
                and ride time. Those who opt-in to this program will be notified via text message for every call that
                RPIA receives, days, nights, and weekends.
                <ol>
                    <li>
                        You are responsible for all text messaging fees and charges to your bill from your provider.
                    </li>
                    <li>
                        You can opt-out of this program once you have opted-in by sending an email to
                        rpia@union.rpi.edu. Processing for this request can take several days. You may be required to
                        provide follow-up to ensure your removal from the list. Your text message dispatch service will
                        be terminated when RPI Ambulance goes out of service for summer break.
                    </li>
                    <li>
                        If you choose to respond, report to the garage. You may be canceled at the Crew Chief&#39;s
                        discretion. If no crew responds, or the ambulance is gone, resume your normal daily activities.
                        Do not report to the scene as a member of RPI Ambulance.
                    </li>
                    <li>
                        Do not respond to night calls (6pm-6am) when you are not on crew.
                    </li>
                    <li>
                        This service is not reliable enough to be used while on a duty crew. If you are on a night crew
                        or in some other way required to respond by a duty to act, you must have a radio with you at all
                        times.
                    </li>
                    <li>
                        These rules may change at any time. Changes will be emailed to <a
                            href="mailto:RPIAMB-L@Lists.union.rpi.edu" rel="nofollow">RPIAMB@union.rpi.edu</a></li>
                </ol>

            </div>
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->