<section id="add-member">
  <div class="container">
    <div class="center">
      <h2>Add New Member</h2>

      <div class="lead text-justify">
        Use this form to create an {{provider}} account for a new member.
      </div>
      <div class="alert alert-success alert-dismissible" ng-show="showContactSuccess" role="alert">
        <button type="button" class="close" ng-click="showContactSuccess = false">
          <span aria-hidden="false">&times;</span>
        </button>
        <i class="fa fa-user-plus"></i><strong> Success!</strong> {{successName}}'s {{provider}} account was created.
      </div>
      <div class="alert alert-danger alert-dismissible" ng-show="showError" role="alert">
        <button type="button" class="close" ng-click="showError = false"><span
          aria-hidden="false">&times;</span></button>
          <i class="fa fa-times-circle"></i><strong> Oh no!</strong> Something went wrong. Please make sure every
          field is filled out.
        </div>
        <div class="col-lg-12">
          <div class="card card-container">
            <form role="form" ng-submit="submitForm()" class="form" name="add_form" id="add-member-form" novalidate>
              <div class="form-group">
                <label for="fn">First Name</label>

                <input type="text" name="fn" id="fn" class="form-control" ng-model="formData.first_name"
                placeholder="Thomas" data-validation="required"/>
              </div>
              <div class="form-group">
                <label for="ln">Last Name</label>
                <input type="text" name="ln" id="ln" class="form-control" ng-model="formData.last_name"
                placeholder="Tankengine" data-validation="required"/>
              </div>

              <div class="form-group">
                <label for="un">Username</label>
                <input type="text" name="un" id="un" class="form-control" ng-model="formData.user_name"
                placeholder="Blue.Trainz" data-validation="required"/>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="formData.email"
                placeholder="thomas@blue-bell-railway.co.uk" data-validation="required email"/>
              </div>

              <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success"
                value="Submit">
                Submit
              </button>
              <button type="reset" class="btn btn-danger">Reset</button>
            </div>
          </form>
        </div>
      </div>

    </div>

    <!--/.our-skill-->


    <!-- our-team -->
  </div>
  <!--/.container-->
  <script type="text/javascript">
  $.validate({
    form : '#add-member-form'
  });
  </script>
</section>
<!--/about-us-->
