<section id="add-event">
    <div class="container">
        <div class="center">
            <h2 ng-if="editMode">Editing: {{originalName}}</h2>

            <h2 ng-if-start="!editMode">Add Event</h2>
            <div ng-if-end class="lead text-justify">
                Use this form to add a new event to the calendar.
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showContactSuccess" role="alert">
                <button type="button" class="close" ng-click="showContactSuccess = false"><span
                        aria-hidden="false">&times;</span></button>
                <i class="fa fa-calendar-plus-o"></i><strong> Success!</strong> Your event has been scheduled. You will now
                get a call in the middle of whatever you are planning. That's how EMS works. Get used to it.
            </div>
            <div class="row">
                <div class="card card-container-lg">
                    <form role="form" ng-submit="submitForm()" class="form" novalidate>
                        <div class="form-group col-xs-6 fixed-height-form-element">
                            <label for="fn">Event Name</label>
                            <!--This should be switched to the signed in account with no option to change it-->
                            <input type="text" name="fn" id="fn" class="form-control" ng-model="formData.event_name"
                                   placeholder="Dodgeball" required/>
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Name is required</span>
                        </div>
                        <div class="form-group col-xs-6 fixed-height-form-element">
                            <label for="loc">Event Location</label>
                            <input type="text" name="loc" id="loc" class="form-control" ng-model="formData.event_location"
                                   placeholder="87 Gym" required/>
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Name is required</span>
                        </div>

                        <!--DATE PICKER FOR TIME AND DATE-->

                        <div class="form-group col-xs-6 fixed-height-form-element">
                            <label for="tm">Start Time</label>
                            <input type="time" name="tm" id="tm" class="form-control" ng-model="formData.start_time"
                                   placeholder="8:00" required/>
                        </div>

                        <div class="form-group col-xs-6 fixed-height-form-element">
                            <label for="tme">End Time</label>
                            <input type="time" name="tme" id="tme" class="form-control" ng-model="formData.end_time"
                                   placeholder="13:00" required/>
                        </div>

                        <div class="form-group col-xs-6 fixed-height-form-element">
                            <label for="date">Date</label>
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="YYYY-MM-DD" uib-datepicker-popup ng-model="formData.date" is-open="datepicker.opened" datepicker-options="datepicker.options" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <div class="form-group col-xs-6 fixed-height-form-element" ng-if="editMode && formData.type != 1">
                            <label for="locked">Lock Game</label>
                            <input type="checkbox" name="locked" id="locked" class="form-control" ng-model="formData.locked" ng-true-value="'1'" ng-false-value="'0'" ng-checed="formData.locked" />
                        </div>

                        <div class="form-group col-xs-6 fixed-height-form-element" ng-if="!editMode">
                            <label for="type">Event Type</label>
                            <select class="form-control" id="type" ng-model="formData.type">
                                <option value="" selected="true" disabled>Select One</option>
                                <option value="1">Event</option>
                                <option value="2">Game (EES Present)</option>
                                <option value="3">Game (NO EES)</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6 fixed-height-form-element" ng-if="editMode && formData.type != 1"></div>

                        <div class="form-group col-xs-6 fixed-height-form-element" ng-if="!formData.type || formData.type == 1">
                            <label for="lim">Attendance Limit</label>
                            <input type="number" name="lim" id="lim" class="form-control" ng-model="formData.limit" min="-1"
                                   placeholder="0 for no limit, -1 for no signups" required/>
                           <p class="help-block text-small">Note: Games do not have a specifiable limit.</p>
                        </div>

                        <div class="form-group col-xs-6 fixed-height-form-element" ng-if="!editMode && (!formData.type || formData.type == 1)"></div>

                        <div class="form-actions" ng-if="!editMode">
                            <button type="submit" class="btn btn-success"
                                    value="Submit">
                                Create Event
                            </button>
                            <button type="reset" class="btn btn-danger">Clear Form</button>
                        </div>
                        <div class="form-actions" ng-if="editMode">
                            <button type="submit" class="btn btn-success"
                                    value="Submit">
                                Update Event
                            </button>
                            <button type="button" class="btn btn-default" ng-click="returnToEvent()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->
