<section class="pricing-page">
    <div class="container">
        <div class="center">
            <h2 class="view-header">Request Coverage</h2>

            <h3>RPI Ambulance provides standby coverage for on-campus events and functions in the nearby area. <br>We can cover everything from a single-EMT standby to a large-scale event with multiple medical crews and patient care facilities. <br><br>
            To request coverage, send us an email at  <a href="mailto:officers@rpiambulance.com">officers@rpiambulance.com</a>
            <br>Be sure to include information including a point of contact, the event dates/times, event location, and estimated attendance.
            </h3>
            <br>
        </div>
        <div class="pricing-area text-center">
            <div class="row">
                <div class="col-md-4 plan price-three">
                    <ul>
                        <li class="heading-three">
                            <h1>Tier I</h1>
                            <span>$10/hour<sup>*</sup></span>
                        </li>
                        <li>Long duration; low capacity</li>
                        <li>No dedicated patient care facility</li>
                        <li>At least 1 EMT</li>
                        <li>First Response 59</li>
                        <li>Oxygen and medical supplies</li>
                    </ul>
                </div>

                <div class="col-md-4 plan price-two">
                    <ul>
                        <li class="heading-two">
                            <h1>Tier II</h1>
                            <span>$50/hour<sup>*</sup></span>
                        </li>
                        <li>Larger spectator event</li>
                        <li>No dedicated patient care facility</li>
                        <li>1&ndash;3 EMTs on field crews</li>
                        <li>5939 (remains available for 911 calls)</li>
                        <li>Oxygen and medical supplies</li>
                    </ul>
                </div>

                <div class="col-md-4 plan price-one">
                    <ul>
                        <li class="heading-one">
                            <h1>Tier III</h1>
                            <span>$150/hour<sup>*</sup></span>
                        </li>
                        <li>Large spectator events (5,000+)</li>
                        <li>Dedicated patient care facility</li>
                        <li>3&ndash;5 EMTs on field crews</li>
                        <li>5939 (dedicated standby)</li>
                        <li>2+ emergency event supervisors</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="text-center"><br><strong>Please note: A minimum of 2 weeks notice is required for event standbys.</strong></h3>
        <p class="text-center text-muted"><sup>*</sup> Most events within the RPI Community will be staffed free of charge.
        </p>
    </div>
</section>

<script src='https://www.google.com/recaptcha/api.js'></script>
