<section id="cpr">
    <div class="container">
        <div class="center">
            <h2>CPR Certification</h2>

            <div class="lead text-justify">
                RPI Ambulance typically holds CPR and First Aid classes several times a semester. Certification is
                provided by the American Heart Association and is applicable for community members, Lifeguards, EMS
                personnel, etc. Any RPI Community member may take part of one of our CPR or First Aid classes.
                <br><br>If you interested in attending or receiving more information about CPR training - <a href="#/contact">contact us</a> 
                or reach out to <a href="mailto:cpr@rpiambulance.com">cpr@rpiambulance.com</a>
                <br/>
            </div>
        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
</section>

<script src='https://www.google.com/recaptcha/api.js'></script>