<section id="EditDefault">
    <div class="container">
        <div class="center">
            <h2>Edit Default Schedule</h2>
        </div>
        <div class="alert alert-success alert-dismissible" ng-show="worked == true" role="alert">
            <button type="button" class="close" ng-click="showContactSuccess = false"><span
                    aria-hidden="true">&times;</span></button>
            <i class="fa fa-calendar-check-o"></i><strong> Success!</strong> The default schedule was successfully updated!
        </div>
        <div class="alert alert-danger alert-dismissible" ng-show="worked == false" role="alert">
            <button type="button" class="close" ng-click="showContactSuccess = false"><span
                    aria-hidden="true">&times;</span></button>
            <i class="fa fa-ban"></i><strong> Whoops!</strong> Something here went very wrong. Please check your inputs. If everthing looks right, contact the webmaster.
        </div>
        <table id="default-week" class="table table-bordered table-striped table-center">
            <thead>
                <tr>
                    <th>Night</th>
                    <th>Crew Chief</th>
                    <th>Driver</th>
                    <th>Rider</th>
                    <th>Rider</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in defaultSchedule track by $index">
                    <td ng-bind="days[d.day]"></td>

                    <td ng-repeat="r in roles">
                        <div class="form-group">
                            <select class="form-control" ng-change="changeMade()" ng-model="d[r]">
                                <option value="-2" ng-selected="d[r] == -2">OUT OF SERVICE</option>
                                <option value="-1" ng-selected="d[r] == -1">RESERVED</option>
                                <option value="0" ng-selected="d[r] == 0"></option>
                                <option ng-repeat="m in members | orderBy:'last_name'"  ng-selected="d[r] == m.id"
                                        ng-if="validChoice(m, r)" value="{{m.id}}">
                                    {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="center">
            <button class="btn btn-success pull-left" ng-click="save()" ng-disabled="!areChangesPending">Save Changes</button>
            <button class="btn btn-warning" ng-click="oos_all()">Out of Service All</button>
            <button class="btn btn-danger pull-right" ng-click="cancel()" ng-disabled="!areChangesPending">Cancel Changes</button>
        </div>
    </div>
</section>
