<section id="games-events" class="noselect">
    <div class="container">
        <div>
            <div class="center">
                <h2>Games and Events for {{calendarTitle}}</h2>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="btn-group pull-left">
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="cellIsOpen = false;">Year</label>
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="cellIsOpen = false;">Month</label>
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'" ng-click="cellIsOpen = false;">Week</label>
                        <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'" ng-click="cellIsOpen = false;">Day</label>
                    </div>
                </div>
                <div class="text-center" ng-class="{'col-md-5': admin, 'col-md-6': !admin}">
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" mwl-date-modifier date="viewDate" decrement="calendarView" ng-click="cellIsOpen = false;">
                            Previous
                        </button>
                        <button class="btn btn-primary" mwl-date-modifier date="viewDate" set-to-today ng-click="cellIsOpen = false;">
                            Today
                        </button>
                        <button class="btn btn-primary" mwl-date-modifier date="viewDate" increment="calendarView" ng-click="cellIsOpen = false;">
                            Next
                        </button>
                    </div>
                </div>
                <div class="col-md-1" ng-if="admin">
                    <a class="btn btn-default pull-right" href="#/add-event">
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>
            <br>
            <mwl-calendar events="events" view="calendarView" view-title="calendarTitle"
                          view-date="viewDate" on-event-click="eventClicked(calendarEvent)"
                          on-event-times-changed="onEventTimesChanged(calendarEvent, calendarNewEventStart, calendarNewEventEnd)"
                          cell-is-open="cellIsOpen" day-view-start="06:00" day-view-end="22:59"
                          day-view-split="30" cell-modifier="modifyCell(calendarCell)"
                          cell-auto-open-disabled="true" on-timespan-click="timespanClicked(calendarDate, calendarCell)">
            </mwl-calendar>
            <br>
            <div>
                <a class="btn btn-default pull-right" target="_blank" href="https://calendar.google.com/calendar/ical/events%40rpiambulance.com/public/basic.ics">
                    <i id='calendar-icon' aria-hidden="true" class="pull-left fa fa-calendar"></i>
                    Add to Calendar
                </a>
            </div>
        </div>
    </div>
</section>
