<section>
    <div class="container">
        <div class="center">
            <h2>Member Log-In</h2>
        </div>
    </div>
    <div class="container">
        <div class="card card-container" ng-controller="LoginCtrl">
            <div class="center">
                <img id="profile-img" class="" src="img/gold-patch.svg"/>
            </div>
            <p id="profile-name" class="profile-name-card"></p>

            <form class="form-signin" ng-submit="submitForm()" role="form" novalidate>
                <div class="form-group">
                    <label for="username">Username</label>
                    <i class="fa fa-user-md"></i>
                    <input type="text" name="username" id="username" class="form-control" ng-model="formData.username"
                           placeholder="Username" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" id="password" class="form-control" ng-model="formData.password"
                           placeholder="Password" required/>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn" ng-if="oidc.enabled" ng-click="startOidcLogin()">
                        Login with {{oidc.provider}}
                    </button>
                </div>
                <a href="#" class="forgot-password" ng-click="$event.preventDefault();forgotPassword();">
                    Forgot your password?
                </a>
            </form>
        </div>
    </div>
<script type="text/javascript">
  document.getElementById("username").focus();
</script>
</section>

<style>
    #profile-img {
        max-width: 125px;
    }
</style>
