<section id="member-activity">
    <div class="container">
        <h2>
            Member Activity
        </h2>
<table id="General" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th width="30%" ng-click="sortFun('last_name')">Last Name</th>
        <th width="30%" ng-click="sortFun('first_name')">First Name</th>
        <th width="10%" ng-click="sortFun('games_count')">Games</th>
        <th width="10%" ng-click="sortFun('nights_count')">Night Crews</th>
        <th width="10%">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(id, m) in (members)">
        <td>{{m.last_name}}</td>
        <td>{{m.first_name}}</td>
        <td class="text-center">{{m.games_count}}</td>
        <td class="text-center">{{m.nights_count}}</td>
        <td class="text-center">{{m.games_count + m.nights_count}}</td>
      </tr>
    </tbody>
  </table>

</div>
</section>
