<section id="ModifySchedule">
    <div class="container">
        <div class="alert alert-success alert-dismissible" ng-show="showSuccess == true" role="alert">
            <button type="button" class="close" ng-click="showSuccess = false"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-calendar-check-o"></i><strong> Success!</strong> The current schedule was successfully updated!
        </div>
        <div class="row center" ng-repeat="t in tables">
            <button class="btn btn-default btn-sm pull-right" ng-disabled="!loadedCrews" ng-click="loadCrews()"><span class="fa fa-refresh"></span></button>
            <h2>{{t.title}}</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="th in tableHeadings track by $index">
                        {{th}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in crews[t.attribute] | orderBy:'date'">
                    <td>{{c.day}}</td>
                    <td>{{c.date | date:'shortDate'}}</td>
                    <td ng-repeat='p in positions' ng-class="{'info': c.spots[p].changed}">
                        <div class="form-group">
                            <select class="form-control" ng-init="c.spots[p].id = fixBlank(c.spots[p].id)" ng-model="c.spots[p].id" ng-change="changeMade(c.spots[p])">
                                <option value="-2">OUT OF SERVICE</option>
                                <option value="-1">RESERVED</option>
                                <option value="0"></option>
                                <option ng-repeat="m in members | orderBy:'last_name'"
                                        ng-if="determineEligibility(p, m, c)" value="{{m.id}}">
                                    {{m.last_name.trim() + ', ' + m.first_name.trim()}}
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="center">
            <button class="btn btn-success pull-left" ng-click="save()" ng-disabled="!areChangesPending">Update Schedule</button>
            <button class="btn btn-warning" ng-click="clearUpcoming()">Clear Upcoming</button>
            <button class="btn btn-danger pull-right" ng-click="cancel()" ng-disabled="!areChangesPending">Cancel Changes</button>
        </div>
    </div> <!--/.container-->
</section>
<!--/NightCrews-->
