<section id="my-settings">
    <div class="container">
        <div class="center">
            <h2>My Settings</h2>

            <div class="lead text-justify">
                Use this form to edit your account information.
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="showContactSuccess" role="alert">
                <button type="button" class="close" ng-click="showContactSuccess = false"><span
                        aria-hidden="false">&times;</span></button>
                <i class="fa fa-pencil-square-o"></i><strong> Success!</strong> Your member record has been updated!
            </div>
            <div class="col-lg-12">
                <div class="card card-container" ng-if="dataReady">
                    <form role="form" ng-submit="submitForm()" class="form" novalidate name="userInfo">
                        <div class="form-group" ng-class="{'has-error': userInfo.fn.$dirty && userInfo.fn.$error.required}">

                            <h3>General Information</h3>

                            <label for="fn">First Name</label>
                            <!--This should be switched to the signed in account with no option to change it-->
                            <input type="text" name="fn" id="fn" class="form-control" ng-model="formData.fn"
                                   placeholder="Thomas" required/>
                            <span ng-show="userInfo.fn.$dirty && userInfo.fn.$error.required" class="help-block text-danger">First Name is required</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': userInfo.ln.$dirty && userInfo.ln.$error.required}">
                            <label for="ln">Last Name</label>
                            <input type="text" name="ln" id="ln" class="form-control" ng-model="formData.ln"
                                   placeholder="Tankengine" required/>
                            <span ng-show="userInfo.ln.$dirty && userInfo.ln.$error.required" class="help-block">Last Name is required</span>
                        </div>

                        <h3>Change your password</h3>

                        <div class="form-group" ng-class="{'has-error': userInfo.pass.$dirty && (userInfo.pass.$error.required || formData.pass !== formData.cpass)}">
                            <label for="pass">Password</label>
                            <input type="password" name="pass" id="pass" class="form-control" ng-model="formData.pass" ng-change="passChange()"
                                   placeholder=""/>
                            <span ng-show="userInfo.pass.$dirty && userInfo.pass.$error.required" class="help-block">Password is required</span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': userInfo.cpass.$dirty && (userInfo.cpass.$error.required || formData.pass !== formData.cpass)}">
                            <label for="cpass">Confirm Password</label>
                            <input type="password" name="cpass" id="cpass" class="form-control" ng-model="formData.cpass" ng-change="passChange()" />
                            <span ng-show="userInfo.cpass.$dirty && userInfo.cpass.$error.required" class="help-block">Confirm is required</span>
                            <span ng-show="userInfo.cpass.$dirty && !userInfo.cpass.$error.required && formData.pass !== formData.cpass" class="help-block">Passwords don't match</span>
                        </div>

                        <h3>Contact Information</h3>

                        <div class="form-group" ng-class="{'has-error': userInfo.email.$dirty && userInfo.email.$error.required}">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" ng-model="formData.email"
                                   placeholder="thomas@blue-bell-railway.co.uk" required/>
                            <span ng-show="userInfo.email.$dirty && userInfo.email.$error.required" class="help-block">Email is required</span>
                        </div>


                        <div class="form-group" ng-class="{'has-error': userInfo.phone.$dirty && userInfo.phone.$error.required}">
                            <label for="phone">Cell Phone</label>
                            <input type="tel" name="phone" id="phone" class="form-control" ng-model="formData.phone"
                                   placeholder="(555) 555-5555" required/>
                            <span ng-show="userInfo.phone.$dirty && userInfo.phone.$error.required" class="help-block">Cell is required</span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': userInfo.hphone.$dirty && userInfo.hphone.$error.required}">
                            <label for="hphone">Home Phone</label>
                            <input type="tel" name="hphone" id="hphone" class="form-control" ng-model="formData.hphone"
                                   placeholder="(555) 555-5555" required/>
                            <span ng-show="userInfo.hphone.$dirty && userInfo.hphone.$error.required" class="help-block">Home Phone is required</span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': userInfo.add.$dirty && userInfo.add.$error.required}">
                            <label for="ln">RPI Address</label>
                            <!--This should be switched to the signed in account with no option to change it-->
                            <input type="text" name="add" id="add" class="form-control" ng-model="formData.add"
                                   placeholder="Quad Pardee 3002" required/>
                            <span ng-show="userInfo.add.$dirty && userInfo.add.$error.required" class="help-block">RPI Address is required</span>
                        </div>

                        <div class="form-group" ng-class="{'has-error': userInfo.hadd.$dirty && userInfo.hadd.$error.required}">
                            <label for="hadd">Home Address</label>
                            <!--This should be switched to the signed in account with no option to change it-->
                            <input type="text" name="hadd" id="hadd" class="form-control" ng-model="formData.hadd"
                                   placeholder="Shed 1, Sodor, Island of Sodor"/>
                            <span ng-show="userInfo.hadd.$dirty && userInfo.hadd.$error.required" class="help-block">Home Address is required</span>
                        </div>

                        <div class="form-actions">
                            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success"
                                    value="Submit" ng-click="save()">
                                Submit
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="initPage()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!--/.our-skill-->


        <!-- our-team -->
    </div>
    <!--/.container-->
</section>
<!--/about-us-->
