<section id="NightCrews">
    <div class="container">
        <div class="row center" ng-repeat="t in tables">
            <button class="btn btn-default btn-sm pull-right" ng-disabled="!loadedCrews" ng-click="loadCrews()"><span class="fa fa-refresh"></span></button>
            <h2>{{t.title}}</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="th in tableHeadings track by $index" width="16%">
                        {{th}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in crews[t.attribute]" ng-attr-id="{{c.date === dateString ? 'current-day' : ''}}">
                    <td>{{c.day}}</td>
                    <td class="crew-date">{{c.date | date:'shortDate'}}</td>
                    <td ng-repeat='p in positions'>
                        <span ng-if="c.spots[p]" title="{{c.spots[p].first_name}} {{c.spots[p].last_name}}">
                            <a ng-if="c.spots[p].email" ng-href="mailto:{{c.spots[p].email}}">{{c.spots[p].name}}</a>
                            <strong ng-if="!c.spots[p].email">{{c.spots[p].name}}</strong>
                        </span>
                        <span ng-if="c.spots[p] && c.spots[p].vacant && c.spots[p].eligible == false">
                            <p>{{c.spots[p].eligibleReason}}</p>
                        </span>
                        <span ng-if="c.spots[p] && c.spots[p].vacant && c.spots[p].eligible">
                            <button class="btn btn-danger btn-xs nc-button" ng-click="confirmCrew(c.spots[p])">Sign Up</button>
                        </span>
                        <span ng-if="c.clear[p]">
                            <button class="btn btn-danger btn-xs" ng-click="clearCrew(c.spots[p], c.clear[p])"><span class="fa fa-close"></span></button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row pull-left">
            <a class="btn btn-danger" href="/#/night-crews?viewDate={{ viewDateLastWeek | date: 'yyyy-MM-dd' }}">Previous Week</a>
        </div>
        <div class="row pull-right">
            <a class="btn btn-danger" ng-disabled="activeWeek" href="/#/night-crews?viewDate={{ viewDateNextWeek | date: 'yyyy-MM-dd' }}">Next Week</a>
        </div>
    </div>
</section>
